{% block footer %}
    <div class="footer">
        <div>
            <a href="">Mentions légales</a>
        </div>
        <div>
            <a href="">Contact</a>
        </div>
    </div>
{% endblock %}