{% trans_default_domain 'FOSUserBundle' %}

<h1>Créer un compte</h1>
<div class="bloc">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div class="btn">
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
</div>