<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Play|Press+Start+2P" rel="stylesheet">
        {% stylesheets 'bundles/wtf/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
    {% endblock %}
</head>
<body>
    {% include('header.html.twig') %}

    <div class="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
    {% include('footer.html.twig') %}
</body>
</html>
